# Ignore credentials folder
credentials/

# Ignore hrv-audio-recs folder
hrv-audio-recs/

# Ignore extract speech features folder
speechFeatures/
cached_features/

# Ignore lookup.csv file
lookup.csv

# Ignore virtual environments
venv/

# Ignore logs directory
logs/

# Ignore example data
praat_example.json
test_csvs/

# Ignore macOS system files
.DS_Store

# Ignore other system files
Thumbs.db

# Python specific ignores
*.pyc
__pycache__/
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore temporary files
*.tmp
*.log

# Ignore IDE specific settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore any other sensitive or temporary files as needed
